In [ ]:
dir(dict)

In [ ]:
a=int(input('enter any number'))

if(a > 20):
    print('a is greater than 20')
else:
    print('a is smaller than 20')

In [ ]:
a=int(input('enter any number') )

if(a%2==0):
    print('a is even number')
else:
    print('a is odd number')

In [ ]:
a=int(input('enter length'))
b=int(input('enter breadth'))

if(a==b):
    print('shape is square')
else:
    print('shape is rectangle')

In [ ]:
x=input('enter any name')
d=o

d=d+x.count('a')

In [1]:
x=input('enter any name')
d=0

d=d+x.count('a')
d=d+x.count('e')
d=d+x.count('i')
d=d+x.count('o')
d=d+x.count('u')
print(d)

enter any nameharsh
1

In [ ]:
marks =int(input('enter any number'))
if (marks >=80):
    print('A')
    
elif(marks >=70):
    print('B')
    
elif(marks>=60):
      print('c')
else:
    print('fail')

In [ ]:
j=int(input('enter any number'))

if(j%2==0):

    if(j%3==0):
        print('j is divisible by 2 and 3')
            
    
    else:
        print('only divide by 2')
    
    
elif(j%3==0):
    print(' j is divisible by 3')

else:
    print('j is not divisible by both 2 and 3')

In [ ]:
n=(1,2,3,4,5,6,7,8,9,10)

for i in range( 1, 10 ,1):
    print(i)

In [ ]:
n=int(input('enter any value'))

for i in range(1,n):
    n=n*i
    
print(n)

In [ ]:
n=int(input('enter any number'))

for i in range(1,10+1):
    n=n*i
    
    print(n)

In [ ]:
u = int(input('enter any value'))

for i in range(1,10+1,1):
    n=i*u
    
    print(n)

In [ ]:

n=int(input('how many terms'))

for i in range(1,n):

    
    print(s)

In [ ]:
n=7

a=0
b=1
if(n==1):
    print(a)
else:
    print(a)
    print(b)
    for i in range (2,n):
        c=a+b
        a=b
        b=c
        print(c)

In [ ]:
a=[1,2,3,4,5]
b=[]

for i in a:
    b.append(i**2)
print(b)

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
b=[]
c=[]
for i in a:
    if (i%2==0):
        b.append(i)
        
    else:
        c.append(i)
        
print(b)
print(c)

In [ ]:
a="yuyu"
print(a*4)

In [ ]:
for i in range(1,5):
    print('*'*i)

In [ ]:
for i in range(5,0,-1):
    print('*'*i)

In [ ]:
for i in range(1,5,2):
    print('*'* i)

In [ ]:
 for i in range (1,5):
        print('*'*(2*i-1))

In [3]:
a=5
n=a-1
for i in range (1,a+1,1):
    print(' '*n,end="")
    print('*'*(2*i-1))
    n=n-1

    *
   ***
  *****
 *******
*********

In [ ]:
for i in range(1,10):
    print(i,end="    ")

In [6]:
a=5
n=1
for i in range(a,0,-1):
    print('*'*(2*i-1))
    print(' '*n,end="")
    n=n+1

*********
 *******
  *****
   ***
    *